<div class="container">
    <div class="top">
      <img id="firstimg" src="assets/note.png" alt="">
      <h1>ADD NOTICE HERE</h1>
    </div>
    <div class="body">
      <form [formGroup]="noticeForm" (ngSubmit)="onSubmit()">
        <div class="form">
          <div id="input-group mb-3">
            <label>Title</label>
            <input class="form-control" formControlName="title" type="text">
          </div>
          <div class="input-group mb-3">
            <input type="file" formControlName="Image" class="form-control" id="inputGroupFile02">
          </div>
          <div class="input-group">
            <textarea class="form-control" formControlName="message" aria-label="With textarea" placeholder="Add message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>