<p>Notice-Board!</p>
<div class="comp">
  <div class="shell" id="a">
    <div class="box">
      <img class="s-image" src="assets/meeting.png">
      <h5>PTM-Schedule</h5>
    </div>
  </div>
  <div class="shell" id="b">
    <div class="box">
      <img class="s-image" src="assets/examTT.png">
      <h5>Exam-Time-Table</h5>
    </div>
  </div>
  <div class="shell" id="c">
    <div class="box">
      <img class="s-image" src="assets/TT.png">
      <h5>Regular-Time-Table</h5>
    </div>
  </div>
</div>