<form [formGroup]="queryform" (ngSubmit)="onSubmit()">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Title</span>
    <input type="text" class="form-control" placeholder="Subject" aria-label="subject"
        aria-describedby="basic-addon1" formControlName="subject">
</div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" formControlName="query" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>