<div class="nv">
    <div class="left">
        <ul>
            <li>Help</li>
            <li>Tests</li>
            <li>About Site</li>
            <li>Docs</li>
            <li>Emergency Contacts</li>
        </ul>
    </div>
    <div class="rigth">
        <div class="search">
            <input class="form-control" type="text" aria-label="readonly input example">
            <i class="bi bi-search"></i>
        </div>
        <div class="button">
            <span (click)="openDialog()">Admin</span>
        </div>
    </div>
</div>