<form [formGroup]="carouselFrom" (ngSubmit)="OnSubmit()">
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileChange($event)">
    </div>
    <button class="btn btn-primary">Post</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">S.no.</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let image of images; let i = index">
            <td>{{ i + 1 }}</td>
            <td><img [src]="image.image" alt="Image" class="img-thumbnail" /></td>
            <td>
                <button class="btn btn-danger col-3" (click)="deletecarousel(image.id)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="images.length === 0">
      <p>No images found.</p>
    </div>

<!-- @if (images.length > 0) {<div class="row">
    @for (image of images; track $index) {
        <div class="col-3">
            <div class="box">
                <div>
                <img [src]="image.image" />
            </div>
                <button class="btn btn-danger col-3" (click)="deletecarousel(image.id)"><i class="bi bi-trash"></i></button>
        </div>
        </div>
       }
</div>} -->