<div class="comp">
    <a routerLink="/teacher-record">
        <div class="shell" id="a">
            <div class="top">
                <h5>Teacher</h5>
                <img class="s-image" src="assets/teacher.png">
            </div>
            <h1>{{userCount}}</h1>
        </div>
    </a>
    <div class="shell" id="b">
        <div class="top">
            <h5>Session Details</h5>
            <img class="s-image" src="assets/group-chat.png">
        </div>
    </div>
    <a routerLink="/fee-stuc">
        <div class="shell" id="c">
            <div class="top">
                <h5>Fee Structure</h5>
                <img class="s-image" src="assets/bill.png">
            </div>
        </div>
    </a>
    <div class="shell" id="e">
        <div class="top">
            <h5>Common Home-Work</h5>
            <img class="s-image" src="assets/homework.png">
        </div>
        <h1>5</h1>
    </div>
    <a routerLink="/holidays">
        <div class="shell" id="f">
            <div class="top">
                <h5>Academic Calander</h5>
                <img class="s-image" src="assets/schedule.png">
            </div>
            <h1>1</h1>
        </div>
    </a>
    <div class="shell" id="e">
        <div class="top">
            <h5>Applications</h5>
            <img class="s-image" src="assets/application.png">
        </div>
        <h1>5</h1>
    </div>
</div>