<div class="head">
    <h4>Register Here</h4>
    <mat-dialog-actions>
      <button class="btn btn-danger" mat-button (click)="closeDialog()"><i class="bi bi-x"></i></button>
    </mat-dialog-actions>
  </div>
  <mat-dialog-content>
    <div class="form-container">
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="name">
          <div class="form-group">
            <label for="Firstname">First Name:</label>
            <input id="Firstname" formControlName="Fname" type="text" required class="form-control">
            <div
              *ngIf="registerForm.get('Fname')?.invalid && (registerForm.get('Fname')?.dirty || registerForm.get('Fname')?.touched)"
              class="error-message">
              First name is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="Lastname">Last Name:</label>
            <input id="Lastname" formControlName="Lname" type="text" required class="form-control">
            <div
              *ngIf="registerForm.get('Lname')?.invalid && (registerForm.get('Lname')?.dirty || registerForm.get('Lname')?.touched)"
              class="error-message">
              Last name is required
            </div>
          </div>
        </div>
        <div class="stat">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" required class="form-control">
          <div
            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
            class="error-message">
            <div *ngIf="registerForm.get('email')?.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="registerForm.get('email')?.errors?.['email']">
              Please enter a valid email address
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label>Gender:</label>
          <div class="radiob">
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male">
              <label class="form-check-label" for="male">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="gender" id="female" value="female">
              <label class="form-check-label" for="female">
                Female
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="gender" id="others" value="others">
              <label class="form-check-label" for="others">
                Others
              </label>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="Phone">Phone:</label>
          <input id="Phone" formControlName="Phone" type="text" required class="form-control">
          <div
            *ngIf="registerForm.get('Phone')?.invalid && (registerForm.get('Phone')?.dirty || registerForm.get('Phone')?.touched)"
            class="error-message">
            <div *ngIf="registerForm.get('Phone')?.errors?.['required']">
              Phone number is required
            </div>
            <div *ngIf="registerForm.get('Phone')!.errors?.['pattern']">
              Invalid phone number format
            </div>
          </div>
        </div>
        <div class="pass">
          <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" formControlName="password" type="password" required class="form-control">
            <div
              *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
              class="error-message">
              <div *ngIf="registerForm.get('password')?.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
                Password must be at least 6 characters long
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" required class="form-control">
            <div
              *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)"
              class="error-message">
              <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                Confirm Password is required
              </div>
              <div
                *ngIf="registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value && !registerForm.get('confirmPassword')?.errors?.['required']">
                Passwords do not match
              </div>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
      </form>
    </div>
  </mat-dialog-content>
