<div class="comp">
    <a routerLink="/director-msg">
        <div class="shell" id="a">
            <div class="box">
                <img class="s-image" src="assets/Director.png">
                <h5>Director-Message</h5>
            </div>
        </div>
    </a>
    <a routerLink="/carousel">
        <div class="shell" id="c">
            <div class="box">
                <img class="s-image" src="assets/gallery.png">
                <h5>Add-Carousel</h5>
            </div>
        </div>
    </a>
</div>