<div class="container">
    <form [formGroup]="feeForm" (ngSubmit)="onSubmit()">
        <div class="selections">
            <div class="form-data">
                <h1>Select Class</h1>
                <select formControlName="class" class="form-select" aria-label="Default select example"
                    (change)="selectClass($event)">
                    <option value="" selected>Select class.....</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
                    <option value="7">Seven</option>
                    <option value="8">Eight</option>
                    <option value="9">Nine</option>
                    <option value="10">Ten</option>
                    <option value="11">Eleven</option>
                    <option value="12">Twelve</option>
                </select>
            </div>
            <div *ngIf="feeForm.get('class')?.value === '11' || feeForm.get('class')?.value === '12'">
                <div class="form-data">
                    <h1>Select Stream</h1>
                    <select formControlName="stream" class="form-select" aria-label="Select Stream">
                        <option value="Science_1">Non-Medical with Physical Education</option>
                        <option value="Science_2">Non-Medical with Computer Science</option>
                        <option value="Science_3">Medical with Physical Education</option>
                        <option value="Science_4">Medical with computer science</option>
                        <option value="Commerce_1">Commerce with Maths</option>
                        <option value="Commerce_2">Commerce without Maths</option>
                        <option value="Arts_1">Arts with Maths</option>
                        <option value="Arts_2">Arts with Psycology</option>
                        <option value="Arts_3">Arts with philosophy</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="amount ">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td><span>Tution Fee</span></td>
                        <td><span>Uniform Fee</span></td>
                        <td><span>Anual Tour Charges</span></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="" formControlName="fee"
                                    aria-describedby="basic-addon1">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="" formControlName="uniform"
                                    aria-describedby="basic-addon1">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="" formControlName="tour"
                                    aria-describedby="basic-addon1">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>