<mat-tab-group>
    <mat-tab label="Announcement">
        <mat-list class="list">
            @for (pdf of pdfs; track $index){
            <mat-list-item><img class="pdf" src="/assets/pdf.png"> <a [href]="getPdfUrl(pdf.id)" target="_blank">
                    {{pdf.text}}
                </a> <img class="new" src="/assets/new.gif"></mat-list-item>
            <mat-divider></mat-divider>
            }
            @if(pdfs.length === 0){
                <p>No pfd Found</p>
            }
        </mat-list>
    </mat-tab>
    <mat-tab label="Notice Board">
        <mat-list class="list">
            @for (ptmpdf of ptmpdfs; track $index){
            <mat-list-item><img class="pdf" src="/assets/pdf.png"> <a [href]="getPtmUrl(ptmpdf.id)" target="_blank">
                    {{ptmpdf.text}}
                </a> <img class="new" src="/assets/new.gif"></mat-list-item>
            <mat-divider></mat-divider>
            }
            @if(ptmpdfs.length === 0){
                <p>No pfd Found</p>
            }
        </mat-list>
    </mat-tab>
    <mat-tab label="Academic Events">
    <mat-list class="list">
        @for (acdmicpdf of acdmicpdfs; track $index){
        <mat-list-item><img class="pdf" src="/assets/pdf.png"> <a [href]="getPtmUrl(acdmicpdf.id)" target="_blank">
                {{acdmicpdf.text}}
            </a> <img class="new" src="/assets/new.gif"></mat-list-item>
        <mat-divider></mat-divider>
        }
        @if(acdmicpdfs.length === 0){
            <p>No pfd Found</p>
        }
    </mat-list></mat-tab>
</mat-tab-group>