<img id="school_image" src="assets/school.jpg" alt="">
<div class="container1">
    <div class="nav">
        <ul id="second_nav">
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">About US</li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" routerLink="/dmsg">Director message</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/pmsg">Principal message</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Academics
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Academics Programms</a></li>
                    <li><a class="dropdown-item" href="#">Affiliation Records</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/feepage">Fee Structure</a></li>
                    <li><a class="dropdown-item" href="#">Session Details</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Faculties
                </li>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Admissions
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Prospectus</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/admission-form">Admission Form</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Student Zone
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Student Activities</a></li>
                    <li><a class="dropdown-item" href="#">Academics Calender</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/feepage">Fee Details</a></li>
                    <li><a class="dropdown-item" href="#">Time-Tables</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Imp. Links
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Enterence Link</a></li>
                    <li><a class="dropdown-item" href="#">Syllabus Link</a></li>
                    <li><a class="dropdown-item" href="#">Top Collage List</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Examinations
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" routerLink="/qpapers">Sample Question Papers</a></li>
                    <li><a class="dropdown-item" href="#">Books List</a></li>
                    <li><a class="dropdown-item" href="#">Last Year Question Papers</a></li>
                    <li><a class="dropdown-item" href="#">Results</a></li>
                    <li><a class="dropdown-item" href="#">Exam Time-Tables</a></li>
                </ul>
            </div>
        </ul>
    </div>
    <div class="mrq">
        <label>Activities <i class="bi bi-megaphone"></i></label>
        <marquee behavior="scrolling" direction="left"><span class="marrq">
                @for (pdf of pdfs; track $index){<a [href]="getPdfUrl(pdf.id)" target="_blank">
                    <img class="new" src="/assets/new.gif"> <img class="pdf" src="/assets/pdf.png"> {{pdf.text}}
                </a>
                }
            </span>
        @if(pdfs.length === 0){
            <p>No Notification Available</p>
        }   
        </marquee>
    </div>
    <div class="container wrap">
        <div class="slider-cors-div">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let image of images1; let i = index" [class.active]="i === 0" class="carousel-item">
                        <img class="cors" [src]="image.image" alt="Image">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="message-box">
            <div class="msg">
                <h1>Director Message</h1>
            </div>
            <div class="message">
                @if (images.length > 0) { <div>
                    @for (image of images; track $index) { <div>
                        <img [src]="image.image" alt="{{ image.name }}" width="300">
                        <h3>{{ image.name }}</h3>
                        <p>{{ image.message }}</p>
                    </div>}
                    <a routerLink="/dmsg">
                        <button class="btn btn-light">Read more</button></a>
                </div>}
                <div *ngIf="images.length === 0">
                    <p>No images found.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container flow">
        <div class="threefealds">
            <div class="op">
                <app-gallery></app-gallery>
            </div>
            <div class="op1">
                <app-info-tab-foranouncements></app-info-tab-foranouncements>
            </div>
            <div class="op2">
                <app-pmsgcomponent></app-pmsgcomponent>
            </div>
        </div>  
        <div class="school_msg">
            <div class="msgarea"> <app-school-message></app-school-message></div>
            <mat-divider></mat-divider>
            <div class="query"><app-query></app-query></div>
        </div>
    </div>
</div>