<img id="school_image" src="assets/school.jpg" alt="">
<div class="container">
    <div class="nav">
        <ul id="second_nav">
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">About US</li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Principal message</a></li>
                    <li><a class="dropdown-item" href="#">Director message</a></li>
                    <li><a class="dropdown-item" href="#">Legal Documnets</a></li>
                    <li><a class="dropdown-item" href="#">Staff Thoughts</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Academics
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Academics Programms</a></li>
                    <li><a class="dropdown-item" href="#">Affiliation Records</a></li>
                    <li><a class="dropdown-item" href="#">Fee Structure</a></li>
                    <li><a class="dropdown-item" href="#">Session Details</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Admissions
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Prospectus</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/admission-form">Admission Form</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Student Zone
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Student Activities</a></li>
                    <li><a class="dropdown-item" href="#">Academics Calender</a></li>
                    <li><a class="dropdown-item" href="#">Fee Details</a></li>
                    <li><a class="dropdown-item" href="#">Time-Tables</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Imp. Links
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Enterence Link</a></li>
                    <li><a class="dropdown-item" href="#">Syllabus Link</a></li>
                    <li><a class="dropdown-item" href="#">Top Collage List</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li id="nav_count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Examinations
                </li>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sample Question Papers</a></li>
                    <li><a class="dropdown-item" href="#">Books List</a></li>
                    <li><a class="dropdown-item" href="#">Last Year Question Papers</a></li>
                    <li><a class="dropdown-item" href="#">Results</a></li>
                    <li><a class="dropdown-item" href="#">PTM scheduls</a></li>
                    <li><a class="dropdown-item" href="#">Exam Time-Tables</a></li>
                </ul>
            </div>
        </ul>
    </div>
</div>